* > body {
  margin: 0;
  box-sizing: border-box;
}

.round-btn {
  border-radius: 16px !important;
  padding-top: 10px !important;
}

.avatar {
  border-radius: 50%;
}

.centered {
  align-items: center !important;
}

.centered h3{
  margin: 0;
}

.forgot-pass-btn {
  color: #1678c2 !important;
}

.forgot-pass-btn :hover {
  color: #1678c2 !important;
  text-decoration: underline !important;
}


